$theme-dark-blue: #252C39
$theme-blue: #216cce
$theme-dark-grey: #CCCCCC
$theme-medium-grey: #DDDDDD
$theme-light-grey: #EEEEEE
$theme-yellow: #E8A723
$theme-pink: #E64769
$theme-purple: #8823E8
$theme-green: #007E33
$theme-red: #CC0000
$theme-orange: #FF8800
$text-color: black
$border-color: $theme-medium-grey
$card-cap-bg: $theme-light-grey

// Bootstrap overrides.
$theme-colors: ("primary": $theme-blue)

:export
    darkblue: $theme-dark-blue
    blue: $theme-blue
    darkgrey: $theme-dark-grey
    mediumgrey: $theme-medium-grey
    lightgrey: $theme-light-grey
    yellow: $theme-yellow
    pink: $theme-pink
    purple: $theme-purple
    green: $theme-green
    red: $theme-red
    orange: $theme-orange
